.row0 {
    -fx-background-color: rgb(27, 111, 45);
}

.col0 {
    -fx-background-color: linear-gradient(to bottom, rgb(116, 122, 40) 0%, rgba(245, 227, 123, 0.858) 100%);
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-transition: all 0.3s ease;
}

.button:hover {
    -fx-background-color: linear-gradient(to right, #6ebf3f, #4CAF50);
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(gaussian, #ffcc00, 10, 0.5, 0, 0);
}

.menu-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px; /* Adjust padding to make room for text */
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-transition: all 0.3s ease;
}

.menu-button:hover {
    -fx-background-color: linear-gradient(to right, #6ebf3f, #4CAF50);
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #ffcc00, 10, 0.5, 0, 0);
}

.grid {
    -fx-background-color: white;
}

.menu-button .text {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-padding: 0 10px; /* Adjust padding to prevent text from being cut off */
}

.menu-button .button {
    -fx-padding: 0 10px; /* Ensure the button has adequate padding */
}
